<div class="jumbotron">
    <h1 class="display-4">Seja bem vindo</h1>
    <p class="lead">Este é o crypto wallet, um app para você cadastrar e acompanhar as suas crypto moedas</p>
    <hr class="my-4">
    <p>Para começar selecione uma das opções abaixo</p>
    <%= render "menu"%>
</div>



<p>O meu nome é <%= @nome%></p>